body {
    font-family: poppins;
    color: white;
    background-image: radial-gradient( 
        circle farthest-corner at 10% 20%,  
        rgba(0,152,155,1) 0.1%, 
        rgba(0,94,120,1) 94.2% 
        );
}

header {
    padding-bottom: 50px;
}

.logo img {
    width: auto;
    height: 120px;
    padding: 5px;
}

.home-evi h1 {
    letter-spacing: 2px;
    font-weight: 300;
}